<form (ngSubmit)="heroForm.form.valid && save()" #heroForm="ngForm">

    <h2>{{hero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{hero.id || '(not saved)'}}</div>

    <div>
        <label>name:
            <input 
            name="name" 
            #name="ngModel" 
            [(ngModel)]="hero.name" 
            placeholder="name" 
            required="" 
            minlength="3"
            appForbiddenName="bob">
        </label>
        <div 
        *ngIf="name.invalid && (name.dirty || name.touched || heroForm.submitted)" 
        class="input-error">

        <div *ngIf="name.errors.required">Name is required</div>
        <div *ngIf="name.errors.minlength">Name must be at least 3 characters</div>
        <div *ngIf="name.errors.forbiddenName">
            Definitely cannot be named 'bob'.
        </div>
    </div>
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="submit" >save</button>
</form>
